/* .container{
    display: flex; 
    flex-direction: column; 
}

.game{
    display: grid; 
    margin: auto; 
    margin-top: 3rem; 
    grid-template-columns: repeat(4, 9rem); 
    place-items: center; 
    row-gap: 2rem; 
    column-gap: 10rem;
}

.card{
    position: absolute;
    display: inline;
}


.card .front { 
    position: absolute; 
    transform: rotateY(90deg); 
    transition: all ease-in 0.25s; 
  
} 
  
.selected .front { 
    transform: rotateY(0deg); 
    transition-delay: 0.25s; 
} 
  
.card .back { 
    transition: all ease-in 0.25s; 
    transition-delay: 0.25s; 
} 
  
.selected .back { 
    transform: rotateY(90deg); 
    transition-delay: 0s; 
}

.winner-message {
    position: absolute;
} */