#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

body {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

.paragraph {
  font-size: 15px;
}

span {
  color: #e78c41;
}

.welcome {
  position: absolute;
}